@use '../settings/variables' as *;

// Estilos base globales
h1, h2, h3, h4, h5, h6 {
    font-family: $font-base;
    letter-spacing: 0;
    margin: 0;
}

h1 {
    background: linear-gradient(90deg, $verde-70 0%, $verde-40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2rem; // 32px
    font-weight: 500;
    line-height: 2.25rem; // 36px
}

h2 {
    color: $verde-40;
    font-size: 24px; 
    font-weight: 500;
    line-height: 32px;
}

h3 {
    color: $gris-70;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
}

p {
    color: $gris-70;
    font-size: $font-size-md;
    margin-bottom: 0;
}
