@use '../settings/variables' as *;

// Estilos base globales
body, html {
  margin: 0;
  padding: 0;
  font-family: $font-base;
  background: #fff;
  color: $gris-100;
}

body {
  font-family: $font-base;
  font-weight: 400; // Peso normal para el cuerpo del texto
}

:root {
  --font-family: #{$font-base};
}


