@use '../../settings/variables' as *;

.input-text-ag:focus::placeholder {
  opacity: 0;
}

.input-text-icon-ag {
    width: 1rem;
}

.input-text-icon-ag:has(+ .input-text-ag:focus) {
  color: $verde-40;
  fill: $verde-40;
}