@use '../../settings/variables' as *;


.field-ag {
    border-radius: 50px;
    padding: 6px 16px;
    gap: 8px;
}

.field-ag-icon {
    border-radius: 50px;
}

.field-ag::placeholder{
    color: $gris-30;
    font-weight: 400;
    font-size: $font-size-md
}

.field-ag:enabled:focus, .field-ag:not(.p-disabled).p-focus {
    border: 1px solid $verde-40;
    box-shadow: 0px 0px 4px 2px $verde-30;
    
}

.error-field-ag, .error-field-ag:enabled:focus, .error-field-ag.p-focus  {
    border: 1px solid $rojo;
    box-shadow: 0px 0px 4px 2px $rojo2;
}

.form-label-ag{
    font-weight: 400;
    color: $gris-70;
    font-size: $font-size-md
}

.form-error-ag .p-message-text {
    font-weight: 400;
    color: $rojo;
    font-size: $font-size-md !important;
}

