@use '../settings/variables' as *;

.playground {
  max-width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  background: #f2f2f2;
  border-radius: 12px;
}

.ag-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #FFFFFF 0%, $verde-10 100%);
}

.ag-page-container {
  flex: 1;
  padding: 2rem; 
  width: 75%;
  margin: 0 auto;
}