@use '../settings/variables' as *;

.ag-card {
    width: 100%;
    border-radius: 24px;
    border-width: 0.8px;
    opacity: 1;
    gap: 24px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px -4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.08);
    padding: 0;

    &--plain {
       background: transparent;
       box-shadow: none; 
    }
}

.ag-card .p-card-body {
    padding: 18px 24px;
}

