@use '../settings/variables' as *;

.ag-table{
    border-radius: 24px;
    overflow: auto;
    box-shadow: 0px 4px 16px 0px #0000000D;
}

.ag-table .p-datatable-thead > tr > th {
    padding: 16px 14px;
}

.ag-table .p-datatable-tbody > tr > td {
    padding: 18px;
}

.ag-table .p-datatable-column-title {
    color: $gris-40;
    font-size: $font-size-md;
    font-weight: 400;
}

.ag-table th.col-center .p-datatable-column-header-content  {
    justify-content: center;
}

.ag-table .col-right .p-datatable-column-header-content {
    justify-content: right;
}

.ag-table .col-left .p-datatable-column-header-content {
    justify-content: left;
}

.ag-table td.col-left {
    text-align: left;
}

.ag-table td.col-center {
    text-align: center;
}

.ag-table td.col-right {
    text-align: right;
}

.ag-table .ag-cell-title{
    font-size: $font-size-lg;
    font-weight: 500;
    color: $gris-100;
}

.ag-table .ag-cell-subtitle{
    font-size: $font-size-md;
    font-weight: 400;
    color: $gris-80;
    letter-spacing: 0px;
}

.ag-table .ag-cell-icon{

    display: flex;
    align-items: center;
    gap: 8px;

    &__icon {
        color: $verde-50;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
    }

}